extends ../layout
block content
      .wrapper
        form.form-signin(method='post', action='/login')
          h3.form-signin-heading Login
          |
          - if(message){
          p(style='color:red') #{message}
          - }
          input.form-control(type='text', name='username', placeholder='Username')
          |
          input.form-control(type='password', name='password', placeholder='Password')
          label.checkbox
          |
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
          br
          a.inlink(href='/register') Don't have an account? Register
